/* Reset Styles */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

svg {
  display: block;
  overflow: hidden;
}

button {
  background-color: transparent;
  appearance: none;
}

u {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.menus {
  display: flex;
  gap: 30px;
}

.dropdown {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 19px 38px rgba(#000000, 0.3), 0 15px 12px rgba(#000000, 0.2);
  display: flex;
  padding: 20px;
  font-size: 16px;
  align-items: center;
  line-height: 2;
  position: absolute;
  width: 302px;
  height: 150px;
  background-color: #0e1128;
  opacity: 0;
  top: 52px;
  pointer-events: none;
  left: -20px;
}

.wrapper {
  position: relative;
  &:hover .dropdown {
    opacity: 1;
    pointer-events: all;
  }
}

.menuItems {
  display: flex;
  align-items: center;
  height: 52px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  line-height: 16px;

  &:hover {
    border-bottom: 5px solid #0099da;
    padding-top: 5px;
  }
}

